

</body>

<footer class="footer" id="footer">
  <p class="copyright">© 2020 Designed by euphr0s.</p>
  <a class="footer-link" href="https://github.com/euphroshub">GitHub</a>
  <a class="footer-link" href="#">WebSite</a>
</footer>

</html>
