<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta author="Kim Hardy aka euphros | Project for a coding bootcamp from Dr. Angela Yu">
  <title>euphr0s | To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
